/* Photos d'accueil */

.container-photos {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-welcome {
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.background-welcome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
}

.content-welcome {
  position: relative;
  z-index: 2;
}

.welcome-photos {
  max-width: 95%;
  margin: 0 auto;
  padding: 1% 0% 4% 0%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  gap: 2%;
}

.welcome-photos img {
  max-width: 100%;
  max-height: 100%;
}

.welcome-photos div:first-child {
  order: 3;
  display: flex;
  justify-content: center;
}

.welcome-photos div:first-child img {
  order: 3;
  width: 90%;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  padding-top: 30%;
  scale: 1.2;
}

.welcome-photos div:nth-child(2) {
  order: 2;
}

.welcome-photos div:nth-child(2) img {
  width: 100%;
  border-top-left-radius: 60%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 30%;
  padding-top: 20%;
}

.welcome-photos div:nth-child(3) {
  order: 1;
}

.welcome-photos div:nth-child(3) img {
  width: 100%;
  border-top-left-radius: 60%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 70%;
  padding-bottom: 20%;
}

.welcome-photos div:nth-child(4) {
  order: 4;
}

.welcome-photos div:nth-child(4) img {
  width: 100%;
  border-top-left-radius: 80%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 70%;
  padding-top: 20%;
}

.welcome-photos div:nth-child(5) {
  order: 5;
}

.welcome-photos div:nth-child(5) img {
  width: 100%;
  max-height: 70%;
  border-top-left-radius: 40%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 50%;
  padding-bottom: 20%;
}

/* Fin des photos d'accueil */

/* Div de présentation */

/* .presentation {
  position: relative;
}

.circle-div {
  position: relative;
  z-index: 2;
}

.blur-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    90deg,
    rgba(207, 154, 113, 0.25) 0%,
    rgba(207, 154, 113, 0.4) 50%,
    rgba(207, 154, 113, 0.25) 100%
  );
  border-top-left-radius: 60%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 40%;
  filter: blur(20px);
} */

.left {
  left: -100px;
}

.right {
  right: -100px;
}

/* Fin de div de présentation */

/* Swiper */

.swiper {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 3% auto;
  overflow: hidden;
}

.swiper-slide {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--important-color) !important;
}

.swiper-button-next {
  padding-left: 5%;
}

.swiper-button-prev {
  padding-right: 5%;
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 95%;
  height: 500px;
  margin: 2% auto;
  padding: 3%;
  box-shadow: 0px -1px 6px 6px rgba(207, 154, 113, 0.249);
  border-radius: 5px;
}

/* Fin du Swiper */

/* Carte du thérapeute */

.therapist-card {
  width: 80%;
  margin: 10% auto 3% auto;
  position: relative;
  box-shadow: 0px -1px 6px 6px var(--main-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 30px repeat(4, auto);
  background-color: var(--main-color);
}

.therapist-card img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -30%);
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border: white 7px solid;
}

.therapist-card h4:first-of-type {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  padding-left: 20%;
  justify-self: left;
  color: var(--important-color);
}

.therapist-card h4:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  padding-right: 20%;
  justify-self: right;
  color: var(--important-color);
}

.therapist-card .button-container {
  grid-column: 1/3;
  grid-row: 4/5;
}

.therapist-card p {
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 3% 2%;
  text-align: center;
}

.therapist-card cite {
  grid-column: 1/3;
  grid-row: 5/6;
}

/* Fin de la carte du thérapeute */

/* Section des évènements */

.unlimited-container {
  width: 100%;
  box-shadow: 0px -1px 6px 6px var(--main-color);
  background-color: var(--main-color);
  padding-top: 3%;
  margin-top: 10%;
}

#events-title {
  text-align: center;
  margin: auto;
  margin-bottom: 3%;
  box-shadow: 0px -1px 6px 6px var(--white);
  width: 50%;
  padding: 3%;
  border-radius: 20px;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 60%;
  border-top-right-radius: 60%;
  border-bottom-right-radius: 40%;
  transition: 0.5s ease-in-out;
}

#events-title:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
}

.events-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(1, auto);
  border-top: 10px solid var(--main-color);
  border-bottom: 10px solid var(--main-color);
  border-right: 10px solid var(--main-color);
  background-color: var(--main-color);
  padding-bottom: 3%;
}

.alt {
  grid-template-columns: 70% 30%;
  border-left: 10px solid var(--main-color);
}

.event-infos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column: 1/2;
}

.infos-alt {
  grid-column: 2/3;
}

.event-infos h3:first-child {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  color: var(--important-color);
}

.event-infos h5:nth-child(2) {
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}

.event-infos h5:nth-child(3) {
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
}

.event-photo {
  background-image: url(../images/Meal.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.7);
}

.second-photo {
  background-image: url(../images/Bach.jpg);
}

.photo-alt {
  grid-column: 1/2;
}

.event-photo h5 {
  color: var(--white);
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* Fin de la section des évènements */

.citation-home {
  text-align: center;
  color: var(--important-color);
}

@media (width < 768px) {
  .welcome-photos {
    max-width: 90%;
    margin: 0% auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vw;
    padding: 4% 0 3% 0;
  }

  .welcome-photos img {
    max-width: 100%;
    max-height: 100%;
  }

  .welcome-photos div:first-child {
    grid-column: 2/4;
    grid-row: 2/4;
    transform: rotate(45deg);
  }

  .welcome-photos div:first-child img {
    width: 100%;
    transform: rotate(-45deg);
    border-radius: 50%;
    border: var(--white) 1vw solid;
    overflow: hidden;
    padding-top: 0%;
  }

  .welcome-photos div:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .welcome-photos div:nth-child(2) img {
    border-top-right-radius: 50%;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    padding-top: 0%;
  }

  .welcome-photos div:nth-child(3) {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  .welcome-photos div:nth-child(3) img {
    border-top-right-radius: 70%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-bottom: 0;
  }

  .welcome-photos div:nth-child(4) {
    margin-top: -10px;
    grid-column: 1/3;
    grid-row: 3/5;
  }

  .welcome-photos div:nth-child(4) img {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 0%;
    padding-top: 0;
  }

  .welcome-photos div:nth-child(5) {
    margin-top: -10px;
    grid-column: 3/5;
    grid-row: 3/5;
  }

  .welcome-photos div:nth-child(5) img {
    width: 100%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 0%;
    padding-bottom: 0%;
  }

  .left {
    left: -300px;
  }

  .right {
    right: -300px;
  }

  .swiper {
    width: 95%;
  }

  .swiper-button-next {
    padding-left: 0%;
  }

  .swiper-button-prev {
    padding-right: 0%;
  }

  .card {
    height: 600px;
  }

  .therapist-card {
    margin: 20% auto;
  }

  .therapist-card img {
    width: 50%;
  }
}

@media (768px <= width <= 1024px) {
  .therapist-card img {
    width: 25%;
  }

  .therapist-card {
    margin: 10% auto;
  }
}

@media (width <= 1024px) {
  .therapist-card {
    width: 85%;
    grid-template-rows: 130px 50px 50px repeat(3, auto);
  }

  .therapist-card h4:first-of-type {
    grid-column: 1/3;
    padding-left: 0;
    grid-row: 2/3;
    justify-self: center;
  }

  .therapist-card h4:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 3/4;
    padding-right: 0;
    justify-self: center;
  }

  .therapist-card .button-container {
    grid-row: 5/6;
  }

  .therapist-card p {
    grid-row: 4/5;
  }

  .therapist-card cite {
    grid-row: 6/7;
  }

  #events-title {
    padding: 8%;
  }

  .events-grid {
    margin: 0 auto;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px;
    border-right: none;
  }

  .event-infos {
    grid-row: 2/3;
    box-shadow: 0px -1px 6px 6px var(--white);
    background-color: var(--white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .event-infos h5,
  h3 {
    margin: 0.5rem;
  }

  .event-photo {
    width: 100%;
    grid-column: 1/2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px -1px 6px 6px var(--white);
  }

  .event-photo h5 {
    white-space: normal;
  }
}
