header {
  width: 100%;
  background-color: white;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 370px;
    height: 90px;
  }

  li {
    font-size: 1.1rem;
  }
}

.gradient {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(207, 153, 113) 20%,
    rgb(207, 153, 113) 80%,
    rgb(255, 255, 255) 100%
  );
}

footer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
}

footer p {
  font-size: var(--small-text);
}

.footer-container {
  max-width: 1300px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 3%;
  gap: 5%;
}

.first-footer,
.second-footer,
.third-footer {
  justify-self: center;
}

/* .first-footer h1,
.second-footer h1,
.third-footer h1 {
  justify-self: center;
} */

@media (max-width: 960px) {
  nav ul img {
    width: 250px;
    height: 60px;
  }

  .footer-container {
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin: 0;
    padding: 3% 7%;
  }

  .first-footer,
  .second-footer,
  .third-footer {
    justify-self: start;
    margin: 0;
    width: 100%;
  }

  .first-footer,
  .second-footer {
    border-bottom: solid 1px rgb(207, 153, 113);
  }

  /* .first-footer h1,
  .second-footer h1,
  .third-footer h1 {
    font-size: 1.5rem;
    margin: 5% 0 10% 0;
  }

  .first-footer p,
  .second-footer p,
  .third-footer p {
    font-size: 1.2rem;
  } */
}
