@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,300;1,300&display=swap");
@import url(fonts.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #fce8e5;
  --text-primary-color: #292929;
  --important-color: #cf9a71;
  --white: white;
  --title: "Dancing Script";
  --text: "Playwrite GB S";
  --base-size: 1rem;
  --scale: 1.25;
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --small-text: calc(var(--base-size) / var(--scale));
}

html,
body {
  overflow: auto;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  color: var(--text-primary-color);
  margin: 0;
  font-family: var(--text);
  font-size: var(--base-size);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

span {
  font-size: larger;
  color: var(--important-color);
}

/*
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.grid {
  margin: 0 3%;
  padding: 7% 0;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 32% 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 3%;
}

.grid-photo {
  grid-column: 1/2;
  grid-row: 1/4;
}

#welcome-img {
  max-width: 95%;
  width: 95%;
  filter: grayscale(40%);
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  border: 2px solid #cf9971;
}

.grid-header {
  grid-column: 2/4;
  grid-row: 1/2;
}

.grid-content {
  grid-column: 2/4;
  grid-row: 2/3;
}

.grid-footer {
  grid-column: 2/4;
  grid-row: 3/4;
}

ul,
li {
  list-style: none;
  padding: 0;
}

#loading {
  animation: fadeInOut 7s ease-in-out infinite;
  font-family: var(--title);
  font-weight: bolder;
  margin: 0;
  color: var(--important-color);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  .grid {
    padding: 0;
    gap: 1%;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  #welcome-img {
    max-width: 60%;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    gap: 4%;
  }

  .grid-photo {
    grid-column: 1;
    grid-row: 2/3;
  }

  .grid-content {
    grid-column: 1;
    grid-row: 3/4;
  }

  .grid-header {
    grid-column: 1;
    grid-row: 1/2;
  }

  .grid-footer {
    grid-column: 1;
    grid-row: 4/5;
  }
}

/* @media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 60%;
  }
} */
